# Node.js
node_modules/

# Vite build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env
.env
.env.*

# Misc
*.local

# Dependency lock
package-lock.json
yarn.lock

# Git
.git/
